<section class="content">
  <div class="container-fluid">
    <!-- <div class="row mt-3">
      <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
          <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-users"></i></span>
          <div class="info-box-content">
            <span class="info-box-text">Total Customers</span>
            <span class="info-box-number"><%#= Customer.all.count%></span>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
          <span class="info-box-icon bg-success elevation-1"><i class="fas fa-comment"></i></span>
          <div class="info-box-content">
            <span class="info-box-text">All Complaints</span>
            <span class="info-box-number"><%#= Compliant.count%></span>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
          <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-comment"></i></span>
          <div class="info-box-content">
            <span class="info-box-text">Open Complaints</span>
            <span class="info-box-number"><%#= Compliant.where.not(status: 3).count%></span>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
          <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-comment"></i></span>
          <div class="info-box-content">
            <span class="info-box-text">Resolved Complaints</span>
            <span class="info-box-number"><%#= Compliant.where(status: 2).count%></span>
          </div>
        </div>
      </div>
    </div> -->

    <div class="row">
      <div class="col-lg-3 col-6">
        <div class="small-box bg-info">
          <div class="inner">
            <h3><%= current_user.customers.where.not(id: current_user.current_company_id).count%></h3>
            <p>Total Customers</p>
          </div>
          <div class="icon">
            <i class="fas fa-users"></i>
          </div>
          <a href='<%=manage_customers_path(current_user.token)%>' class="small-box-footer">
            More info <i class="fas fa-arrow-circle-right"></i>
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-6">
        <div class="small-box bg-success">
          <div class="inner">
            <h3><%= current_user.role == 1 ? current_user.customer.compliants.count : current_user.customer.where(user_id: current_user.id).compliants.count %><sup style="font-size: 20px"></sup></h3>
            <p>All Complaints</p>
          </div>
          <div class="icon">
            <i class="far fa-copy"></i>
          </div>
          <a href="<%=manage_complaints_path(current_user.token)%>" class="small-box-footer">
            More info <i class="fas fa-arrow-circle-right"></i>
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-6">
        <div class="small-box bg-danger">
          <div class="inner">
            <h3><%= current_user.role == 1 ? current_user.customer.compliants.where.not(status: 3).count : current_user.customer.where(user_id: current_user.id).compliants.where.not(status: 3).count %></h3>
            <p>Open Complaints</p>
          </div>
          <div class="icon">
            <i class="fas fa-exclamation-triangle"></i>
          </div>
          <a href="<%=manage_complaints_path(current_user.token)%>" class="small-box-footer">
            More info <i class="fas fa-arrow-circle-right"></i>
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-6">
        <div class="small-box bg-warning">
          <div class="inner">
            <h3><%= current_user.role == 1 ? current_user.customer.compliants.where(status: 2).count : current_user.customer.where(user_id: current_user.id).compliants.where(status: 2).count %></h3>
            <p>Resolved Complaints</p>
          </div>
          <div class="icon">
            <i class="fas fa-laptop-medical"></i>
          </div>
          <a href="<%=manage_complaints_path(current_user.token)%>" class="small-box-footer">
            More info <i class="fas fa-arrow-circle-right"></i>
          </a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-custom-style" data-card-widget="collapse">
            <h5 class="card-title">Complaints Report</h5>
            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
              </button>
            </div>
          </div>
          <%= render partial: "/complaints/index" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="card"> <!-- <div class="card collapsed-card"> -->
          <div class="card-header card-custom-style" data-card-widget="collapse">
            <h5 class="card-title">Products Report</h5>
            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-plus"></i>
              </button>
            </div>
          </div>
          <%= render partial: "/complaints/show_products" %>
        </div>
      </div>
    </div>

  </div>
</section>