<div class="card-body">
	<table id="complaints_table" class="table table-bordered table-striped  table-hover">
	  <thead>
	    <tr>
	      <th>Customer Name & Number</th>
	      <th>Product Category & Detail</th>
	      <th>Product Name & Detailss</th>
	      <th>Product Complaint</th>
        <th>Reported By</th>
	      <th>Total Amount</th>
        <th>Remaining Amount</th>
	      <th>Status</th>
	      <th>Invoice(s)</th>
        <th width="10%">Action</th>
	    </tr>
	  </thead>
	  <tbody>
	    <%@all_complaints.each do |all_complaint|%>
	      <% int_status = all_complaint.read_attribute_before_type_cast('status').to_i %>
	      <tr <%if all_complaint.product.delist == true%>style='background-color: #cd0c1166;'<%end%>>
	        <td><%=all_complaint.customer&.customer_name&.capitalize%><br><b><%=all_complaint.customer&.customer_phone&.capitalize%></b></td>
	        <td><%=all_complaint.product&.category&.category&.category_name&.capitalize%><br><b><%=all_complaint.product&.category&.category_name&.capitalize%></b></td>
	        <td><%=all_complaint.product&.product_name&.capitalize%><br> <b><%=all_complaint.product&.product_code&.capitalize%></b></td>
	        <td><%=all_complaint.complaint_details&.capitalize%></td>
          <td><%=all_complaint.user&.contact_name&.capitalize%></td>
	        <td><b><%=all_complaint.total_amount||all_complaint.total_amount%></b></td>
          <%remaining_amount = (all_complaint.total_amount.to_i - all_complaint&.invoices&.sum(:part_amount).to_i)%>
          <td style='background: <%= int_status == 3 ? '#049d0438' : remaining_amount != 0 ? '#f344007d' : '#049d0438'%>'> <b><%=remaining_amount%></b></td>
	        <td><span class="badge badge-<%= int_status == 1 ? 'warning' : int_status == 2 ? 'info' : int_status == 3 ? 'success' : 'danger' %>"><%=all_complaint&.status&.capitalize%></span></td>
	        <td><%=all_complaint.invoices&.size%></td>
          <td>
            <div class="row">
              <div class="col-sm-12 text-center">
                <button class="btn btn-xs btn-<%if all_complaint.delist == false %>success<%else%>danger<%end%>" data-complaint-id="<%=all_complaint.id%>" data-invoice-count="<%=all_complaint.invoices&.size%>" data-delist-status="<%=(all_complaint.delist == false ? 1 : 0)%>" onclick="de_activate_complaint(this)">
                  <%if all_complaint.delist == false %>
                    <i class="fas fa-trash"></i>
                  <%else%>
                    <i class="fas fa-trash-restore"></i>
                  <%end%>
                </button>
                <button id="btnClear" class="btn btn-xs btn-primary" onclick="edit_complaint(<%=all_complaint.id%>)"><i class="fas fa-edit"></i></button>
              </div>
            </div>
          </td>
	      </tr>
	    <%end%>
	  </tbody>
	</table>
</div>

<script>
  $(function () {
    $("#complaints_table").DataTable({
      buttons: ["copy", "csv", "excel", "pdf", "print"],
      responsive: true,
      stateSave: true,
      lengthChange: false,
      autoWidth: false,
      paging: true,
      lengthChange: false,
      searching: true,
      ordering: true,
      info: true,
      scrollX: false,
      scrollCollapse: true,
    }).buttons().container().appendTo('#complaints_table_wrapper .col-md-6:eq(0)');

    $('#complaints_table_filter').append("<a href='<%=new_complaint_path%>' class='btn btn-primary ml-2'><i class='fas fa-plus'></i> Add New Complaint</a>");

    // $('#complaints_table_filter').append('<label>Filter:<div id="status_filter"></div></label>');
    // VirtualSelect.init({
    //   ele: '#status_filter',
    //   hideClearButton: false,
    //   multiple: false,
    //   search: false,
    //   placeholder: 'Complaint Status',
    //   options: [
    //     { label: 'Pending', value: 0 },
    //     { label: 'Processing', value: 1 },
    //     { label: 'Resolved', value: 2 },
    //     { label: 'Delivered', value: 3 }
    //   ],
    //   noOptionsText: 'No results found',
    //   dropboxWidth: 'auto',
    //   zIndex: 10,
    //   markSearchResults: false,
    //   showSelectedOptionsFirst: true,
    //   hasOptionDescription: true,
    //   // onServerSearch: onSampleSelectServerSearch,
    //   showValueAsTags: false,
    //   keepAlwaysOpen: false,
    //   allowNewOption: false,
    //   maxValues: false,
    //   disabledOptions: [],
    //   selectedValue: [],
    //   itemHeight: '10px',
    //   optionHeight: '40px',
    //   noOptionsText: 'No results found',
    //   optionSelectedText: 'option selected',
    //   searchPlaceholderText: 'search',
    // });
  });

  function de_activate_complaint(obj) {
    complaint_id = $(obj).data('complaint-id');
    invoice_count = $(obj).data('invoice-count');
    delist_status = $(obj).data('delist-status');
    $.ajax({
      url: "/update_complaint_status/<%=current_user.token%>",
      type: 'POST',
      async: false,
      beforeSend: function(xhr) {
        xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
      },
      data: { complaint_id: complaint_id, delist_status: delist_status },
      success: function(data) {
        $(obj).data('delist-status', data);
        if (data == 1) {
          $(obj).removeClass('btn-danger').addClass('btn-success');
          $(obj).html('<i class="fas fa-trash"></i>')
        } else {
          $(obj).removeClass('btn-success').addClass('btn-danger');
          $(obj).html('<i class="fas fa-trash-restore"></i>')
        }
      }
    });
  }
</script>