<div class="card-body">
  <%= form_for(:product, url: create_product_path, method: 'POST', :html => { :id => 'create_product_form' }) do |f| %>
    <div class="row">
      <label for="inputName2" class="col-sm-2 col-form-label">Customer<span class="text-danger">*</span></label>
      <div class="form-group col-sm-10">
        <div id='customer_div' name='product[customer_id]'></div>
      </div>
    </div>

    <div class="row">
      <label for="inputName2" class="col-sm-2 col-form-label">Main Category<span class="text-danger">*</span></label>
      <div class="form-group col-sm-10">
        <div id='main_category_div' name='product[category]'></div>
      </div>
    </div>

    <div class="row">
      <label for="inputName2" class="col-sm-2 col-form-label">Sub Category<span class="text-danger">*</span></label>
      <div class="form-group col-sm-10">
        <div id='sub_category_div' name='product[category_id]'></div>
      </div>
    </div>

    <div class="row">
      <label for="inputName" class="col-sm-2 col-form-label">Product Name<span class="text-danger">*</span></label>
      <div class="form-group col-sm-10">
        <%= f.text_field :product_name, autofocus: true, autocomplete: 'product_name', placeholder: 'Product Name', :required => true, class: 'form-control' %>
      </div>
    </div>

    <div class="row">
      <label for="inputEmail" class="col-sm-2 col-form-label">Product Code<span class="text-danger">*</span></label>
      <div class="form-group col-sm-10">
        <%= f.text_field :product_code, autofocus: true, autocomplete: 'product_code', placeholder: 'Product Code', :required => true, class: 'form-control' %>
      </div>
    </div>

    <div class="row">
      <label for="inputExperience" class="col-sm-2 col-form-label">Product Details<span class="text-danger">*</span></label>
      <div class="form-group col-sm-10">
      	<%= f.text_area :product_detail, autofocus: true, autocomplete: 'product_detail', placeholder: 'Product Details', :rows => 2, :required => true, class: 'form-control'%>
      </div>
    </div>

    <div class="row ">
      <div class="offset-sm-2 col-sm-10">
      	<%= f.submit 'Submit', class: 'btn btn-primary' %>
      </div>
    </div>
  <%end%>
</div>

<script>
  $(function () {
    $.validator.setDefaults({
      submitHandler: function (form) {
        form.submit()
      }
    });

    $('#create_product_form').validate({
      ignore: [],
      rules: {
        'product[customer_id]': {
          required: true
        },
        'product[category]': {
          required: true
        },
        'product[category_id]': {
          required: true
        },
        'product[product_name]': {
          required: true
        },
        'product[product_code]': {
          required: true
        },
        'product[product_detail]': {
          required: true
        }
      },
      messages: {
      	'product[customer_id]': {
          required: "Please select a customer"
        },
        'product[category]': {
          required: "Please select a main category"
        },
        'product[category_id]': {
          required: "Please select a sub-Category"
        },
        'product[product_name]': {
          required: "Please provide a product name"
        },
        'product[product_code]': {
          required: "Please provide a product code"
        },
        'product[product_detail]': {
          required: "Please provide a product details"
        }
      },
      errorElement: 'div',
      errorPlacement: function (error, element) {
        error.addClass('invalid-feedback');
        element.closest('.form-group').append(error);
      },
      highlight: function (element, errorClass, validClass) {
        if($(element).hasClass('vscomp-hidden-input') == true) {
          $(element).parent().addClass('is-invalid');
        } else {
          $(element).addClass('is-invalid');
        }
      },
      unhighlight: function (element, errorClass, validClass) {
        if($(element).hasClass('vscomp-hidden-input') == true) {
          $(element).parent().removeClass('is-invalid');
        } else {
          $(element).removeClass('is-invalid');
        }
      }
    });

    $.validator.addMethod("valid_amount", function(value, element) {
      var isValidMoney = /^\d{0,9}(\.\d{0,2})?$/.test(value);
      return this.optional(element) || isValidMoney;
    });

    VirtualSelect.init({
      ele: '#customer_div',
      hideClearButton: false,
      multiple: false,
      search: false,
      placeholder: 'Customer Name',
      options: <%= raw @all_customers_array.to_json%>,
      noOptionsText: 'No results found',
      // dropboxWidth: 'auto',
      zIndex: 10,
      markSearchResults: false,
      showSelectedOptionsFirst: false,
      hasOptionDescription: true,
      // onServerSearch: onSampleSelectServerSearch,
      showValueAsTags: false,
      keepAlwaysOpen: false,
      allowNewOption: false,
      maxValues: false,
      disabledOptions: [],
      selectedValue: [],
      itemHeight: '10px',
      optionHeight: '40px',
      noOptionsText: 'No results found',
      optionSelectedText: 'option selected',
      searchPlaceholderText: 'search',
    });

    VirtualSelect.init({
      ele: '#main_category_div',
      hideClearButton: false,
      multiple: false,
      search: false,
      placeholder: 'Select Main Category',
      options: <%= raw @main_category_array.to_json%>,
      noOptionsText: 'No results found',
      // dropboxWidth: 'auto',
      zIndex: 10,
      markSearchResults: false,
      showSelectedOptionsFirst: false,
      hasOptionDescription: true,
      // onServerSearch: onSampleSelectServerSearch,
      showValueAsTags: false,
      keepAlwaysOpen: false,
      allowNewOption: false,
      maxValues: false,
      disabledOptions: [],
      selectedValue: [],
      itemHeight: '10px',
      optionHeight: '40px',
      noOptionsText: 'No results found',
      optionSelectedText: 'option selected',
      searchPlaceholderText: 'search',
    });

    VirtualSelect.init({
      ele: '#sub_category_div',
      hideClearButton: false,
      multiple: false,
      search: false,
      placeholder: 'Select Sub-Category',
      options: [],
      noOptionsText: 'No results found',
      // dropboxWidth: 'auto',
      zIndex: 10,
      markSearchResults: false,
      showSelectedOptionsFirst: false,
      hasOptionDescription: true,
      // onServerSearch: onSampleSelectServerSearch,
      showValueAsTags: false,
      keepAlwaysOpen: false,
      allowNewOption: false,
      maxValues: false,
      disabledOptions: [],
      selectedValue: [],
      itemHeight: '10px',
      optionHeight: '40px',
      noOptionsText: 'No results found',
      optionSelectedText: 'option selected',
      searchPlaceholderText: 'search',
    });

    $("#main_category_div").on('change', function(){
      if ($(this).val() != '') {
        $.ajax({
          url: "/get_sub_categories/<%=current_user.token%>",
          type: 'GET',
          dataType: "json",
          data: {
            category_id: $(this).val()
          },
          success: function(data) {
            document.querySelector('#sub_category_div').setOptions(data);
          }
        });
      } else {
        document.querySelector('#sub_category_div').setOptions([]);
      }
    });
  });
</script>