<div class="card-header" style="cursor: move;">
  <h3 class="card-title"><i class="ion ion-clipboard mr-1"></i>Sub Category</h3>
  <!-- <div class="card-tools">
    <ul class="pagination pagination-sm">
      <li class="page-item"><a href="#" class="page-link">«</a></li>
      <li class="page-item"><a href="#" class="page-link">1</a></li>
      <li class="page-item"><a href="#" class="page-link">2</a></li>
      <li class="page-item"><a href="#" class="page-link">3</a></li>
      <li class="page-item"><a href="#" class="page-link">»</a></li>
    </ul>
  </div> -->
</div>
<div class="card-body" style="max-height: 75%;overflow: auto;">
  <ul class="todo-list ui-sortable" data-widget="todo-list">
    <%@sub_categories.each do |sub_category|%>
      <li>
        <span class="handle">
          <i class="fas fa-ellipsis-v"></i>
          <i class="fas fa-ellipsis-v"></i>
        </span>
        <span class="text"><%=sub_category.category_name%></span>
        <span style="float: right;">
          <input type="checkbox" <%if sub_category.delist == true%> checked <%end%> data-toggle="toggle" data-on="De-active" data-off="Active" data-onstyle="danger" data-offstyle="success" data-size="xs" data-width="80" data-height="20" data-main-category-id="<%=sub_category.category.id%>" data-category-id="<%=sub_category.id%>" data-sub-category-count="0" data-products-count="<%=sub_category.products&.size%>" data-delist-status="<%=sub_category.delist == false ? 1 : 0%>" onchange='de_activate_sub_category(this)'>
        </span>
        <div class="tools">
          <i class="fas fa-edit" onclick="edit_category(<%=sub_category.id%>)"></i>
        </div>
      </li>
    <%end%>
  </ul>
</div>
<div class="card-footer clearfix">
  <button type="button" class="btn btn-primary float-right" onclick="create_new_category(<%=@main_category_id%>)"><i class="fas fa-plus"></i> Add Sub Category</button> 
</div>