<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%=request.path_parameters[:action]&.titleize%></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="/assets/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="/assets/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <link rel="stylesheet" href="/assets/adminlte.css">
    <link rel="stylesheet" href="/assets/plugins/fontawesome-free/css/all.min.css">
  </head>
  <body class="hold-transition login-page custom-bg-image">
    <div class="login-box">
      <%= yield %>
    </div>
  </body>
  
  <script src="/assets/plugins/jquery/jquery.min.js"></script>
  <script src="/assets/adminlte.js"></script>
  <script src="/assets/plugins/jquery-validation/jquery.validate.min.js"></script>
  <script src="/assets/plugins/jquery-validation/additional-methods.min.js"></script>
  <script>
  $(function () {
    $.validator.setDefaults({
      submitHandler: function (form) {
        form.submit()
      }
    });
    $('#new_user').validate({
      rules: {
        'user[contact_name]': {
          required: true
        },
        'user[contact_number]': {
          required: true,
          number: true,
          minlength: 10,
          maxlength: 15,
        },
        'user[email]': {
          required: true,
          email:true
        },
        'user[password]': {
          required: true
        },
        'user[password_confirmation]': {
          required: true,
          equalTo: '#user_password'
        }
      },
      messages: {
        'user[contact_name]': {
          required: "Please enter a contact name"
        },
        'user[contact_number]': {
          required: "Please enter a contact number",
          number: "Please enter a vaild contact number",
          minlength: "Please enter at least 10 characters",
          maxlength: "Max 15 characters allowed"
        },
        'user[email]': {
          required: "Please enter a email address",
          email: "Please enter a vaild email address"
        },
        'user[password]': {
          required: "Please provide a password"
        },
        'user[password_confirmation]': {
          required: "Please provide a confirm password"
        }
      },
      errorElement: 'div',
      errorPlacement: function (error, element) {
        error.addClass('invalid-feedback');
        element.closest('.form-group').append(error);
      },
      highlight: function (element, errorClass, validClass) {
        $(element).addClass('is-invalid');
      },
      unhighlight: function (element, errorClass, validClass) {
        $(element).removeClass('is-invalid');
      }
    });
  });
</script>
</html>